<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /painel/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /painel/index.html [L]
</IfModule>